export ("HImeanact",
"HImeanactabs",
"HImeanind",
"HImeanindabs",
"HIndiv",
"HIndivabs",
"later",
"laterAFCM",
"laterhist",
"lvisAFCM",
"visAFCM")

importFrom(ade4, 
           "acm.disjonctif", 
           "acm.burt", 
           "dudi.acm", 
           "inertia.dudi",
           "s.class",
           "s.chull",
           "scatter")
